<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2341A77E028FA943F6417A1BEAAE2F2AB72E8DFA</string>
				<key>dateExpires</key>
				<string>10/5/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2341A77E028FA943F6417A1BEAAE2F2AB72E8DFA</string>
						<key>dateExpires</key>
						<string>10/5/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>728SLPR2V5</string>
						<key>name</key>
						<string>Nikesh Khilnani</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2341A77E028FA943F6417A1BEAAE2F2AB72E8DFA</string>
						<key>dateExpires</key>
						<string>10/5/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorLocalNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>728SLPR2V5</string>
						<key>name</key>
						<string>Nikesh Khilnani</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2341A77E028FA943F6417A1BEAAE2F2AB72E8DFA</string>
						<key>dateExpires</key>
						<string>10/5/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>728SLPR2V5</string>
						<key>name</key>
						<string>Nikesh Khilnani</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>728SLPR2V5.org.khilnani.TimelyMeetings</string>
				<key>com.apple.developer.team-identifier</key>
				<string>728SLPR2V5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>728SLPR2V5.org.khilnani.TimelyMeetings</string>
				</array>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5a149c3f-c346-4e69-bd38-fc153a76a86e</string>
				<key>dateExpires</key>
				<string>10/5/22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.khilnani.TimelyMeetings</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>728SLPR2V5</string>
				<key>name</key>
				<string>Nikesh Khilnani</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
